<a href="https://colab.research.google.com/github/dabhimanyu/learn_to_code/blob/python_codes/001_Mike_Python_lec_001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 3
b = 4
print(a)
b

3

4

In [2]:
%whos
%reset -f

Variable   Type    Data/Info
----------------------------
a          int     3
b          int     4

In [3]:
%whos

Interactive namespace is empty.

In [4]:
# Creating Lists:
# List -> []

aList = [0 , 1 , 2 , 3 , 4 , 5]
print(aList)
%whos

[0, 1, 2, 3, 4, 5]
Variable   Type    Data/Info
----------------------------
aList      list    n=6

In [5]:
strList = ['Hy' , 'my' , 'name' , 'is' , 'Abhimanyu']
strList
%whos

Variable   Type    Data/Info
----------------------------
aList      list    n=6
strList    list    n=5

In [6]:
mixList = [1 , '7' , 7 , 7.0]
print(mixList)

[1, '7', 7, 7.0]

In [7]:
listList = [1 , 2 , 3 , [5 , 6 , 7] , 8]
print(listList)
%whos

[1, 2, 3, [5, 6, 7], 8]
Variable   Type    Data/Info
----------------------------
aList      list    n=6
listList   list    n=5
mixList    list    n=4
strList    list    n=5

In [8]:
aList = [0 , 1 , 2 , 3 , 4 , 5 , 6]
%whos
5.1 not in aList

Variable   Type    Data/Info
----------------------------
aList      list    n=7
listList   list    n=5
mixList    list    n=4
strList    list    n=5

True

In [9]:
print(aList)
print(strList)
print(aList + strList )

[0, 1, 2, 3, 4, 5, 6]
['Hy', 'my', 'name', 'is', 'Abhimanyu']
[0, 1, 2, 3, 4, 5, 6, 'Hy', 'my', 'name', 'is', 'Abhimanyu']

In [10]:
# Methods:

# NOTE: Methods are specific to the type of objects:

print(aList)
aList.append(100)
print(aList)

[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 100]

In [11]:
aList.sort()
print(aList)

[0, 1, 2, 3, 4, 5, 6, 100]

In [12]:
# Tuples:
%reset -f
# A tuple is immutable, while a list is mutable:
aTuple = (1 , '2' , 3)
aList  = [1 , '2' , 3]
%whos

Variable   Type     Data/Info
-----------------------------
aList      list     n=3
aTuple     tuple    n=3

In [13]:
D = dict()
D

{}

In [15]:
D['Name'] = 'Abhimanyu'
D['Age'] = [20 , 30]
print(D)

{'Name': 'Abhimanyu', 'Age': [20, 30]}

In [22]:
D.items()
'name' not in D

True

###Dictionaries

In [25]:
%reset -f

D = dict()
num1 = float(input('Enter First Number:  '))
num2 = float(input('Enter Second Number: '))

D['firstNum'] = num1
D['secondNum'] = num2
D['prod'] = D['firstNum'] * D['secondNum']

print(D)
%whos

Enter First Number:  12
Enter Second Number: 3
{'firstNum': 12.0, 'secondNum': 3.0, 'prod': 36.0}
Variable   Type     Data/Info
-----------------------------
D          dict     n=3
num1       float    12.0
num2       float    3.0

In [43]:
aRange = range(12 , 13)
aRange

range(12, 13)

In [44]:
aList = list(aRange)
aList.append([1.2 , 1.3 , .4])
aList.append([2 , 3])
aList

[12, [1.2, 1.3, 0.4], [2, 3]]

In [48]:
aList[2][1]

3

### Slicing

In [50]:
aList = list(range(5,11))
aList

[5, 6, 7, 8, 9, 10]

In [55]:
aList[-3:]

[8, 9, 10]

###Functions:

In [59]:
# Functions
%reset -f

aList = list(range(10 , 50 , 10))
print(aList)

[10, 20, 30, 40]

In [66]:
print('sum = ' , sum(aList) )
print('Length = ' , len(aList) )
avg = sum(aList) / len(aList)
print('Mean = ' , avg)

sum =  100
Length =  4
Mean =  25.0

### Numpy Module:

In [67]:
%reset -f
%whos

Interactive namespace is empty.

In [ ]:
import numpy as np